{% extends 'base/base.html' %}
{% block header_title %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="area-top clearfix">
                <div class="pull-left header">
                    <h3 class="title">
                        <i class="icon-sitemap"></i>
                        {% if type %}
                            {{ type }}
                        {% else %}
                            Nova turma
                        {% endif %}
                    </h3>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="container-fluid padded">
        <div class="row-fluid">
            <div class="col-lg-12">
                <div class="span12">
                    <div class="box">
                        <div class="box-header">
                            <span class="title"><i class="icon-pencil"></i> Dados informativos</span>
                        </div>
                        <div class="box-content">
                            <form class="form-horizontal fill-up validatable">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="padded">
                                            <div class="form-group">
                                                <label class="control-label col-lg-2">Tipo</label>
                                                <div class="col-lg-3">
                                                    <select name="type" id="" class="validate[required]"
                                                            data-prompt-position="topLeft">
                                                        <option value="0"></option>
                                                        <option value="1">Pré catequese</option>
                                                        <option value="2">Eucaristia 1</option>
                                                        <option value="2">Eucaristia 2</option>
                                                        <option value="2">Eucaristia 3</option>
                                                        <option value="2">Crisma 1</option>
                                                        <option value="2">Crisma 2</option>
                                                        <option value="2" selected>Crisma 3</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-2">Dia</label>
                                                <div class="col-lg-8">
                                                    <select name="day" id="" class="validate[required]"
                                                            data-prompt-position="topLeft">
                                                        <option value="0"></option>
                                                        <option value="1" {% if day == 'Segunda-feira' %}selected="selected" {% endif %}>Segunda-feira</option>
                                                        <option value="2" {% if day == 'Terça-feira' %}selected="selected" {% endif %}>Terça-feira</option>
                                                        <option value="3" {% if day == 'Quarta-feira' %}selected="selected" {% endif %}>Quarta-feira</option>
                                                        <option value="4" {% if day == 'Quinta-feira' %}selected="selected" {% endif %}>Quinta-feira</option>
                                                        <option value="5" {% if day == 'Sexta-feira' %}selected="selected" {% endif %}>Sexta-feira</option>
                                                        <option value="6" {% if day == 'Sábado-feira' %}selected="selected" {% endif %}>Sábado</option>
                                                        <option value="7" {% if day == 'Domingo-feira' %}selected="selected" {% endif %}>Domingo</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-2">Hora inicial</label>
                                                <div class="col-lg-8">
                                                    <input type="text" class="validate[required]" value="{{ initial_hour }}"
                                                           data-prompt-position="topLeft" placeholder="Hora inicial">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-2">Hora de termino</label>
                                                <div class="col-lg-8">
                                                    <input type="text" class="validate[required]" value="{{ end_hour }}"
                                                           data-prompt-position="topLeft" placeholder="Hora de termino">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-2">Local</label>
                                                <div class="col-lg-4">
                                                    <select name="catechized" id="">
                                                        <option value="1" {% if day == 'Paróquia São Sebastião' %}selected="selected" {% endif %}>Paróquia São Sebastião</option>
                                                        <option value="2" {% if day == 'Capela São Marcos' %}selected="selected" {% endif %}>Capela São Marcos</option>
                                                    </select>
{#                                                    <input type="text" class="validate[required]" value="{{ local }}"#}
{#                                                           data-prompt-position="topLeft" placeholder="local dos encontros">#}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-2">Catequizandos</label>
                                                <div class="col-lg-4">
                                                    <select name="catechized" id="" multiple="multiple">
                                                        <option value="1">Guilherme Bosco</option>
                                                        <option value="2">Denise Braga</option>
                                                    </select>
{#                                                    <input type="text" class="validate[required]" value="{{ local }}"#}
{#                                                           data-prompt-position="topLeft" placeholder="local dos encontros">#}
                                                </div>
                                            </div>
                                            {#<div class="form-group">
                                                <label class="control-label col-lg-2">Turmas</label>
                                                <div class="col-lg-8">
                                                    <div class="table-responsive">
                                                        <table class="table table-bordered table-hover table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th>Tipo</th>
                                                                    <th>Dias</th>
                                                                    <th>Hora</th>
                                                                    <th>Local</th>
                                                                    <th>Catequizandos</th>
                                                                    <th></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% if groups %}
                                                                    {% for group in groups %}
                                                                        <tr>
                                                                            <td><a href="/turmas/turma/1">{{ group.type }}</a></td>
                                                                            <td>{{ group.day }}</td>
                                                                            <td>{{ group.hours }}</td>
                                                                            <td>{{ group.local }}</td>
                                                                            <td>{{ group.catechized }}</td>
                                                                            <td>
                                                                                <div class="btn-group">
                                                                                    <button class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i></button>
                                                                                    <ul class="dropdown-menu">
                                                                                        <li><a href="/turmas/turma/1">Ver esta turma</a></li>
                                                                                        <li><a href="/turmas/">Ver todas turmas</a></li>
                                                                                        <li class="divider"></li>
                                                                                        <li><a href="#">Remover esta turma</a></li>
                                                                                    </ul>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    {% endfor %}
                                                                {% endif %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>#}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button type="submit" class="btn btn-blue">Salvar Alterações</button>
                                    <a class="btn btn-default" href="/turmas">Cancelar</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}