{% extends 'base/base.html' %}
{% if notice %}
    {% set title=notice.title or None %}
    {% set content=notice.content or None %}
    {% set link=notice.objetive or None %}
{% endif %}
{% block header_title %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="area-top clearfix">
                <div class="pull-left header">
                    <h3 class="title">
                        <i class="icon-info-sign"></i>
                        {% if notice and title %}
                            {{ title }}
                        {% else %}
                            Nova noticia
                        {% endif %}
                    </h3>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    {% set errors=errors or None %}
    <div class="container-fluid padded">
        <div class="row-fluid">
            <div class="col-md-12">
                <div class="span12">
                    <div class="box">
                        <div class="box-header">
                            <span class="title"><i class="icon-pencil"></i> Dados informativos</span>
                        </div>
                        <div class="box-content">
                            <form method="post" action="{{ save_path }}" class="form-horizontal fill-up validatable">
                                {{ csrf_input() }}
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="padded">
                                            <div class="form-group">
                                                <label class="control-label col-md-2">Titulo</label>
                                                <div class="col-md-8">
                                                    <input class="validate[required]" type="text" name="title" value="{{ title }}"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-2">Conteúdo</label>
                                                <div class="col-md-8">
                                                    <textarea class="validate[required]" name="content" rows="10">{{ content }}</textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-2">Link(se existir)</label>
                                                <div class="col-md-8">
                                                    <input type="text" name="link" value="{{ link }}"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button type="submit" class="btn btn-blue">Salvar Alterações</button>
                                    <a class="btn btn-default" href="/noticias">Cancelar</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}