.timeline-badge > i{
    vertical-align: sub;
}

.hide_navbar{
    margin-left: 0 !important;
}

.btn-new-object{
    margin-right: 3px;
}

.profile_photo{
    width: 100%;
    height: 100%;
    margin: 5px;
}

.profile_photo img{
    width: 100%;
    height: 100%;
    border-radius: 3px !important;
    padding: 5px;
    margin: 5px;
}