{% extends 'chamadas/chamada_base.html' %}
{% block body %}
    {% set chamada=chamada or None %}
    {% set errors=errors or None %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <br/>

                <div class="well">
                    <h1 class="text-center">{% trans %}Chamada Form{% endtrans %}</h1>

                    <form action="{{ save_path }}" method="post" role="form">
                        {{ csrf_input() }}
                        {{ form_input(_('Encontro'),'encontro',chamada.encontro,errors.encontro) }}
                        {{ form_input(_('Data'),'data',chamada.data,errors.data) }}
                        {{ form_input(_('Turma'),'turma',chamada.turma,errors.turma) }}
                        {{ form_input(_('Catequizandos'),'catequizandos',chamada.catequizandos,errors.catequizandos) }}
                        <button type="submit" class="btn btn-success">{% trans %}Save{% endtrans %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}