{% extends 'base/base.html' %}
{% set catequizando=catequizando or None %}
{% block header_title %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="area-top clearfix">
                <div class="pull-left header">
                    <h3 class="title">
                        <i class="icon-edit"></i>
                        {% if name %}
                            {{ name }}
                        {% else %}
                            Nova chamada
                        {% endif %}
                    </h3>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="container-fluid padded">
        <div class="row-fluid">
            <div class="col-md-12">
                <div class="span12">
                    <div class="box">
                        <div class="box-header">
                            <span class="title">Lista de catequistas</span>
                            <ul class="box-toolbar">
                                <li>
                                    <span>{{ date }}</span>
                                </li>
                            </ul>
                        </div>
                        <div class="box-content">
                            <form class="form-horizontal fill-up validatable">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="padded">
                                            {{ form_select('Turma','turma',chamada.turma,errors.turma, 'col-md-3', chamada.choice_turma, True) }}
                                            {{ form_select('Encontro','encontro',chamada.encontro,errors.encontro, 'col-md-3', chamada.choice_encontro, True) }}
                                            {{ form_input('Data','data',chamada.data,errors.data, 'col-md-3', True) }}
                                            <div class="form-group">
                                                <label class="control-label col-md-2">Catequizandos</label>
                                                <div class="col-md-8">
                                                    <div class="table-responsive">
                                                        <table class="table table-bordered table-hover table-striped calls">
                                                            <thead>
                                                                <tr>
                                                                    <th>Nome</th>
                                                                    <th>Presença</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for cat in catequizando %}
                                                                <tr>
                                                                    <td>{{ cat.name }}</td>
                                                                    <td>
                                                                        <div class="icheckbox_flat-aero check-fake">
{#                                                                            <input name="catequizando[]" value="{{ cat.key.id() }}" type="checkbox" class="icheck">#}
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            {#<div class="form-group">
                                                <label class="control-label col-md-2">Catequizandos</label>
                                                <div class="col-md-8">
                                                    <div class="table-responsive">
                                                        <table class="table table-bordered table-hover table-striped calls">
                                                            <thead>
                                                                <tr>
                                                                    <th>Nome</th>
                                                                    <th>Presença</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>Ailton Gamarra</td>
                                                                    <td>
                                                                        <div class="icheckbox_flat-aero check-fake">
                                                                            <input type="checkbox" class="icheck">
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Debora de Souza</td>
                                                                    <td>
                                                                        <div class="icheckbox_flat-aero check-fake">
                                                                            <input type="checkbox" class="icheck">
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Maicon Dias</td>
                                                                    <td>
                                                                        <div class="icheckbox_flat-aero check-fake">
                                                                            <input type="checkbox" class="icheck">
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Edson Silva</td>
                                                                    <td>
                                                                        <div class="icheckbox_flat-aero check-fake">


                                                                            <input type="checkbox" class="icheck">
                                                                        </div>
                                                                    </td>
                                                                </tr><tr>
                                                                    <td>Michel Bastos</td>
                                                                    <td>
                                                                        <div class="icheckbox_flat-aero check-fake">

                                                                            <input type="checkbox" class="icheck">
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Luiz Fabiano</td>
                                                                    <td>
                                                                        <div class="icheckbox_flat-aero check-fake">

                                                                            <input type="checkbox" class="icheck">
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Reinaldo Velazques</td>
                                                                    <td>
                                                                        <div class="icheckbox_flat-aero check-fake">

                                                                            <input type="checkbox" class="icheck">
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Bruno Dias</td>
                                                                    <td>
                                                                        <div class="icheckbox_flat-aero check-fake">

                                                                            <input type="checkbox" class="icheck">
                                                                        </div>
                                                                    </td>
                                                                </tr><tr>
                                                                    <td>Margarida Mota</td>
                                                                    <td>
                                                                        <div class="icheckbox_flat-aero check-fake">

                                                                            <input type="checkbox" class="icheck">
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Francisco Paiva</td>
                                                                    <td>
                                                                        <div class="icheckbox_flat-aero check-fake">

                                                                            <input type="checkbox" class="icheck">
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Tatiana Almeida</td>
                                                                    <td>
                                                                        <div class="icheckbox_flat-aero check-fake">

                                                                            <input type="checkbox" class="icheck">
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Celso Alves</td>
                                                                    <td>
                                                                        <div class="icheckbox_flat-aero check-fake">
                                                                            <input type="checkbox" class="icheck">
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>#}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button type="submit" class="btn btn-blue">Salvar Alterações</button>
                                    <a class="btn btn-default" href="/chamadas">Cancelar</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}