{% extends 'base/base.html' %}

{% set error=error %}
{% set username=username %}

{% block css %}
    <link href="/static/css/bootstrap-social.css" media="screen" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block login %}
    <div class="container login">
        <div class="col-md-4 col-md-offset-4">
            <div class="padded">
                <div class="login box" style="margin-top: 80px;">
                    <div class="box-header">
                        <span class="title">Login</span>
                    </div>
                    <div class="box-content padded">
                        <form class="separate-sections" action="{{ user_auth }}" method="post">
                            <div class="input-group addon-left">
                                <span class="input-group-addon">
                                  <i class="icon-user"></i>
                                </span>
                                <input type="text" name="username" placeholder="usuário" value="{{ username }}">
                            </div>
                            <div class="input-group addon-left">
                                <span class="input-group-addon">
                                  <i class="icon-key"></i>
                                </span>
                                <input type="password" name="password" placeholder="senha">
                            </div>
                            <div>
                                <button class="btn btn-blue btn-block" type="submit">
                                    Login <i class="icon-signin"></i>
                                </button>
                            </div>
                            <div class="has-error center">
                                <span class="help-block">{{ error }}</span>
                            </div>
                            {{ csrf_input() }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}