{% extends 'base/base.html' %}
{% block header_title %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="area-top clearfix">
                <div class="pull-left header">
                    <h3 class="title">
                        <i class="icon-star-empty"></i>
                        Catequizandos
                    </h3>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="container-fluid padded">
        <div class="row-fluid">
            <div class="col-lg-12">
                <div class="span12">
                    <div class="box">
                        <div class="box-header">
                            <span class="title">Lista de catequizandos</span>
                            <ul class="box-toolbar">
                                <li>
                                    <a class="btn btn-success" href="/catequizandos/catequizando/">
                                        <i class="icon-plus btn-new-object"></i>
                                        Adicionar novo
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="box-content">
                            <!-- find me in partials/news_with_icons -->

                            <div class="box-section news with-icons">
                                <div class="avatar">
                                    <span>
                                        <img class="menu-avatar" src="/static/images/avatars/avatar3.jpg"/>
                                    </span>
                                </div>
                                <div class="news-time">
                                    Crisma <span>2</span>
                                </div>
                                <div class="news-content">
                                    <div class="news-title" title="Alterar dados pessoais"><a href="/catequizandos/catequizando/1">Osvaldo Brandão</a></div>
                                    <div class="news-text">
                                        <span>Responsável: </span>João das Neves
                                    </div>
                                    <div class="news-text">
                                        <span>Catequista: </span>Nei de Souza
                                    </div>
                                </div>
                            </div>

                            <div class="box-section news with-icons">
                                <div class="avatar">
                                    <span>
                                        <img class="menu-avatar" src="/static/images/avatars/avatar2.jpg"/>
                                    </span>
                                </div>
                                <div class="news-time">
                                    Crisma <span>2</span>
                                </div>
                                <div class="news-content">
                                    <div class="news-title" title="Alterar dados pessoais"><a href="#">Brenda Oliveira</a></div>
                                    <div class="news-text">
                                        <span>Responsável: </span>João das Neves
                                    </div>
                                    <div class="news-text">
                                        <span>Catequista: </span>Nei de Souza
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <div class="text-center">
                    <ul class="pagination">
                        <li><a href="#">Prev</a></li>
                        <li><a href="#">1</a></li>
                        <li class="active"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">Next</a></li>
                    </ul>
                </div>
            </div>
            <!-- /.col-lg-4 -->
        </div>
    </div>
{% endblock %}