{% extends 'base/base.html' %}
{% block header_title %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="area-top clearfix">
                <div class="pull-left header">
                    <h3 class="title">
                        <i class="icon-user"></i>
                        Catequistas
                    </h3>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="container-fluid padded">
        <div class="row-fluid">
            <div class="col-md-12">
                <div class="span12">
                    <div class="box">
                        <div class="box-header">
                            <span class="title">Lista de catequistas</span>
                            <ul class="box-toolbar">
                                <li>
                                    <a class="btn btn-success" href="/catequistas/catequista/">
                                        <i class="icon-plus btn-new-object"></i>
                                        Adicionar novo
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="box-content">
                            {% if catequistas %}
                                {% for catequista in catequistas %}
                                    <div class="box-section news with-icons">
                                        <div class="avatar">
                                            <span>
                                                {% if catequista.avatar %}
                                                    <img class="menu-avatar" src="{{ catequista.avatar }}"/>
                                                {% else %}
                                                    <img class="menu-avatar" src="/static/images/avatars/none.png"/>
                                                {% endif %}
                                            </span>
                                        </div>
                                        <div class="news-time">
{#                                            <span>16</span> Catequizandos#}
                                        </div>
                                        <div class="news-content">
                                            <div class="news-title" title="Alterar"><a href="/catequistas/catequista/1">Cícero Alves dos Santos Junior</a></div>
                                            <div class="news-text">
                                                {{ catequista.address }}
                                            </div>
                                            <div class="news-text">
                                                {{ catequista.cellphone }}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <div class="text-center">
                    <ul class="pagination">
                        <li><a href="#">Prev</a></li>
                        <li><a href="#">1</a></li>
                        <li class="active"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">Next</a></li>
                    </ul>
                </div>
            </div>
            <!-- /.col-lg-4 -->
        </div>
    </div>
{% endblock %}